<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>[admin]</title>
  </head>

  <body>
    <main>
      <h1><a href="{@pluginRoot}">⚒</a> tsd.serve</h1>
      <ul class="tiles">
        <li><a href="{@pluginRoot}/code">♻ code</a></li>
        <li><a href="{@pluginRoot}/conf">🔧 conf</a></li>
        <li><a href="{@pluginRoot}/txt">📝 txt</a></li>
        <li><a href="{@pluginRoot}/mem">🧒 mem</a></li>
        <li><a href="{@pluginRoot}/mod">🛰 mod</a></li>
        <li><a href="{@pluginRoot}/upd">📡 upd</a></li>
      </ul>
    </main>
  </body>
</html>