<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>[config]</title>
  </head>

  <body>
    <main>
      <!--<h1>⚒</h1>      -->
      <form method="post" action="{@pluginRoot}/config">
        <textarea name="cfg" style="height: calc(100vh - 16rem);" rows="16" cols="80">{cfg}</textarea>
        <div class="right">
          <button type="submit">save</button>
          {if error}
          <a href="{@pluginRoot}/config" class="btn">cancel</a>
          {else}
          <button type="reset">cancel</button>
          {/if}
        </div>
      </form>
    </main>
  </body>
</html>
