<!doctype html>
            <html>
            
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />

                <title>{#title} - tsd.serve</title>

                <link rel="icon" type="image/svg+xml" href="/_static/favicon.svg" sizes="any" />
                <link rel="stylesheet" href="/_static/style.css" />

                <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

                <style>
                    :root {
                        --body-bg-color:        #002;
                        --body-color:           #abc;
                        --link-color:           #088;
                        --link-active-color:    #08f;
                    }
                </style>

            </head>

            <body>
                <header style="position: relative;">
                    <nav>
                        <ul style="display: flex;">
                            {if @menu.admin}
                            <li>
                                <details>
                                    <summary></summary>
                                    <div style="position: absolute; top: 3.4rem; left: 0; right: 0; background-color: #abc;">
                                        <ul style="width: 80rem; margin: auto;">
                                            {each @menu.admin}
                                                <li><a href="{@pluginRoot}/{url}">{name}</a>
                                                    {if children}
                                                        <ul>
                                                            {each children}
                                                                <li><a href={@pluginRoot}/{url}>{name}</a></li>
                                                            {/each}
                                                        </ul>
                                                    {/if}
                                                </li>
                                            {/each}
                                        </ul>
                                    </div>
                                </details>
                            </li>
                            {/if}
                            <li><a href="{@pluginRoot}/">⚒️</a></li>
                            {if @menu.member}
                            <li style="margin-left: auto; position: relative;">
                                <details class="member">
                                    <summary></summary>
                                    <div style="position: absolute; top: 3.4rem; right: 0; background-color: #abc;">
                                        <ul >
                                            {each @menu.member}
                                                <li><a href="{url}">{name}</a></li>
                                            {/each}
                                        </ul>
                                    </div>
                                </details>                                
                            </li>
                            {/if}                            
                        </ul>
                    </nav>

                </header>
                <main>
                </main>
                <footer class="debug">
                    {@debug}
                </footer>
                <footer class="sticky">
                tsd.serve Administration
                
                <div style="text-align: right;">by&nbsp;&nbsp;&nbsp;&nbsp;Δ@✞εℕᚹⅤᚢᛕ</div>
                </footer>
            </body>
            </html>