<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>[code]</title>
  </head>

  <body>
    <main>
      <form method="post" action="{@pluginRoot}/code/src/{name}/edit">
        <input name="name" type="text" value="{name}"/>
        <textarea name="content" style="height: calc(100vh - 20rem);">{content}</textarea>
        <div class="right">
          <button type="submit">save</button>
          {if error}
          <a href="{@pluginRoot}/code/src/{name}/edit" class="btn">cancel</a>
          {else}
          <button type="reset">cancel</button>
          {/if}
        </div>
      </form>
    </main>
  </body>
</html>