<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>[code]</title>
    <style>
      ul.views {padding-inline-start: 0;}
      ul.views ul {padding-inline-start: 1.5em;}
      ul.views, ul.views ul {list-style: none;}
      ul.views li.file::before {content: "📄";}
      ul.views li.dir::before {content: "📁";}
      ul.views li.new::before {content: "＋"; color: #0a0;}
      ul.views li::before {padding-right:.5em;}
    </style>
  </head>

  <body>
    <main>
      <h1>⚒ views</h1>
      <ul class="views">
        {each files}
        <li class="{type}"><a href="{@pluginRoot}/code/views/edit?path={path}">{name}</a>
          {if children}
            <ul>
              {each children}
                <li class="{type}"><a href="{@pluginRoot}/code/views/edit?path={path}">{name}</a>
                  {if children}
                    <ul>
                      {each children}
                        <li class="{type}"><a href="{@pluginRoot}/code/views/edit?path={path}">{name}</a></li>
                      {/each}
                      <li class="new"><a href="{@pluginRoot}/code/views/new?path={path}">new file</a></li>
                      <li class="new"><a href="{@pluginRoot}/code/views/newdir?path={path}">new dir</a></li>
                    </ul>
                  {/if}
                </li>
              {/each}
              <li class="new"><a href="{@pluginRoot}/code/views/new?path={path}">new file</a></li>
              <li class="new"><a href="{@pluginRoot}/code/views/newdir?path={path}">new dir</a></li>
            </ul>
          {/if}
        </li>
        {/each}
        <li class="new"><a href="{@pluginRoot}/code/views/new?path={path}">new file</a></li>
        <li class="new"><a href="{@pluginRoot}/code/views/newdir?path={path}">new dir</a></li>
      </ul>
    </main>
  </body>
</html>